@use "sass:map";
@import "../../assets/styles/variables";

.education {
  &-list {
    &__wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: $grid-gutter-width;

      @media (min-width: map.get($grid-breakpoints, md)) {
        flex-direction: row;
      }
    }

    &__item {
      display: flex;
      gap: $grid-gutter-width;
      flex-direction: column;
      box-shadow: var(--box-shadow);
      padding: map.get($spacers, 4);
      width: 100%;
      max-width: 28.25rem;
      margin: 0 auto;
      align-self: stretch;

      @media (min-width: map.get($grid-breakpoints, md)) {
        width: 50%;
        max-width: 50%;
      }
      @media (min-width: map.get($grid-breakpoints, xl)) {
        flex-direction: row;
      }
    }
  }

  &__icon {
    width: 3.125rem;
    height: 3.125rem;
    max-width: fit-content;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: $grid-gutter-width;
    height: 100%;
  }

  &__position {
    font-weight: map.get($font-weight, "bold");

    @media (min-width: map.get($grid-breakpoints, md)) {
      display: flex;
      flex-grow: 2;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
  }

  &__date {
    color: var(--title-accent);
  }

  &__school {
    min-height: 3rem;
  }
}
