@use "sass:map";
@import "../../styles/variables";

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $font-stack;
  font-weight: map.get($font-weight, "normal");
  letter-spacing: -0.031rem;
  background-color: var(--page-bg);
  color: var(--text-color);
}
