@use "sass:map";
@import "../../styles/variables";

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $font-stack;
  font-weight: map.get($font-weight, "normal");
  letter-spacing: -0.031rem;
  background-color: var(--page-bg);
  color: var(--text-color);

  &_theme {
    &_dark {
      --page-bg: #252526;
      --text-color: var(--white);
      --title-accent: var(--white);
      --project-card-bg: var(--dark-grey);
      --project-card-text: var(--white);
      --box-shadow: 0 0 0.938rem rgba(0, 0, 0, 0.8);
    }
  }
}
