@use "sass:map";
@import "../../assets/styles/variables";

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $grid-gutter-width;
  height: $btn-height;
  min-width: $btn-width;
  padding: $btn-padding-y $btn-padding-x;
  border-radius: $border-radius;
  font-weight: map.get($font-weight, "medium");
  transition: $transition-fade;

  &_theme {
    &_primary {
      background-color: var(--accent);
      color: var(--white);

      &:hover {
        opacity: map.get($opacities, 75);
      }
    }

    &_outline {
      background-color: var(--white);
      color: var(--black);
      border: $border-width $border-style var(--black);
    }
  }
}
