@use "sass:map";
@import "../../assets/styles/variables";

.project {
  &-list {
    &__wrap {
      column-gap: $grid-gutter-width;
      row-gap: $grid-gutter-width * 2;
      margin-bottom: map.get($spacers, 4) * 2;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));

      @media (min-width: map.get($grid-breakpoints, lg)) {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      }

      @media (min-width: map.get($grid-breakpoints, xl)) {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      }
    }

    &__button {
      align-self: center;
    }
  }

  &-item {
    position: relative;
    box-shadow: var(--box-shadow);
    object-fit: cover;
    height: 100%;
    max-height: fit-content;

    &__title {
      position: absolute;
      left: map.get($spacers, 4);
      right: map.get($spacers, 4);
      bottom: -(map.get($spacers, 4));
      min-height: 3.75rem;
      padding: map.get($spacers, 3);
      background-color: var(--project-card-bg);
      box-shadow: var(--box-shadow);
      text-align: center;
      color: var(--project-card-text);
    }
  }

  &-details {
    margin: 3.75rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: $grid-gutter-width;

    &__cover {
      max-width: 100%;
      box-shadow: var(--box-shadow);
    }

    &__btn-wrap {
      display: flex;
      gap: $grid-gutter-width;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
