@use "sass:map";
@import "../../styles/variables";

.button {
  height: 3rem;
  padding: 0.75rem 1.75rem;
  border-radius: 0.313rem;
  background-color: var(--accent);
  color: var(--white);
  letter-spacing: 0.009rem;
  font-size: 1rem;
  font-weight: map.get($font-weight, "medium");
  transition: opacity 0.2s ease-in;

  &:hover {
    opacity: 0.8;
  }
}
