@use "sass:map";
@import "../../styles/variables";

.text {
  &_size {
    &_md {
      font-size: 1rem;

      @media (min-width: map.get($grid-breakpoints, lg)) {
        font-size: 1.5rem;
      }
    }
  }

  &_accent {
    color: var(--title-accent);
  }
}
