@use "sass:map";
@import "../../styles/variables";

.section {
  padding: 4.375rem 0;

  &__title {
    margin-bottom: 3.75rem;
    font-size: 3.75rem;
    font-weight: map.get($font-weight, "bold");
    line-height: 1.3;
    text-align: center;
  }
}
