$font-stack: "DM Sans", arial, sans-serif;
$font-weight: (
  "normal": 400,
  "medium": 500,
  "bold": 700,
);
$container-max-widths: (
  md: 80rem,
  lg: 100rem,
);

:root {
  --blackpure: #000;
  --black: #171718;
  --black-border: #26292d;
  --white: #fff;
  --purple: #5c62ec;
  --text-color: var(--black);
  --dark-bg: var(--black);
  --light-bg: var(--white);
  --dark-border: var(--black-border);
  --header-text: var(--white);
  --light-text: var(--white);
  --accent: var(--purple);
  --project-card-bg: var(--white);
  --project-card-text: var(--black);
  --box-shadow: 0 0 0.938rem rgba(0, 0, 0, 0.12);
}
