@use "sass:map";
@import "../../styles/variables";

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.938rem;
  height: 3.125rem;
  width: 100%;
  background: var(--dark-bg);
  overflow: hidden;
  transition:
    height 0.5s ease-out,
    background 1s ease-out;
  transition-delay: 0.2s;
  z-index: 1;

  @media (min-width: map.get($grid-breakpoints, lg)) {
    position: relative;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;
  }

  @media (min-width: map.get($grid-breakpoints, xl)) {
    gap: 2.5rem;
  }

  &__brand {
    flex: 1 0 auto;
    font-size: 1.25rem;
    font-family: "Poppins", arial, sans-serif;
    color: var(--header-text);

    @media (min-width: map.get($grid-breakpoints, lg)) {
      font-size: 1rem;
    }

    @media (min-width: map.get($grid-breakpoints, xl)) {
      font-size: 1.5rem;
    }
  }

  &__toggler {
    position: relative;
    display: inline-block;
    height: 3.125rem;
    width: 3.125rem;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.3s $cubic;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    @media (min-width: map.get($grid-breakpoints, lg)) {
      display: none;
    }

    &-icon {
      width: 1.125rem;
      height: 0.5rem;
      position: relative;
      display: block;
      margin: -0.25rem auto 0;
      top: 50%;

      &--line--top,
      &--line--bottom {
        width: 100%;
        height: 0.063rem;
        display: block;
        position: relative;
        background: var(--header-text);
        transition: transform 0.3s $cubic;
        transition-delay: 0s;
      }

      &--line--top {
        transform: translateY(0) rotate(0deg);
      }

      &--line--bottom {
        transform: translateY(0.375rem) rotate(0deg);
      }
    }
  }

  &.nav-is-visible {
    display: flex;
    flex-direction: row;
    row-gap: 1.25rem;
    flex-wrap: wrap;
    height: fit-content;
    background-color: var(--dark-bg);
    transition:
      height 0.3s ease-in,
      background 0.5s ease-in;
    transition-delay: 0.25s;

    .navbar {
      &__toggler {
        transform: rotate(90deg);

        &-icon {
          transition: transform 0.4s $cubic;
          transition-delay: 0.2s;

          &--line--top {
            transform: translateY(0.25rem) rotate(45deg);
          }

          &--line--bottom {
            transform: translateY(0.188rem) rotate(-45deg);
          }
        }
      }
    }
  }
}
