@use "sass:map";
@import "../../assets/styles/variables";

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  gap: $grid-gutter-width;
  align-items: center;
  width: 100%;
  padding: 0 map.get($spacers, 4);
  height: $navbar-height;
  z-index: $zindex-fixed;
  background-color: var(--dark-bg);
  border-bottom: $border-width $border-style var(--dark-border);

  &__brand {
    flex: 1 0 auto;
    font-size: map.get($font-sizes, 5);
    font-family: "Poppins", arial, sans-serif;
    color: var(--header-text);

    @media (min-width: map.get($grid-breakpoints, lg)) {
      flex: 0 0 auto;
    }
  }

  &__nav {
    position: fixed;
    top: 0;
    left: -16rem;
    display: flex;
    flex: 1;
    gap: $grid-gutter-width;
    flex-direction: column;
    align-items: center;
    width: 15.625rem;
    height: 100vh;
    list-style-type: none;
    padding-top: 5.625rem;
    padding-bottom: 3.75rem;
    background-color: var(--dark-bg);
    border: $border-width $border-style var(--dark-border);
    transition: transform 0.3s linear;

    @media (min-width: map.get($grid-breakpoints, lg)) {
      position: relative;
      left: auto;
      width: 100%;
      height: fit-content;
      border: none;
      flex-direction: row;
      gap: $grid-gutter-width;
      justify-content: end;
      padding: 0;
    }

    &.active {
      transform: translateX(100%);
      transition: transform 0.3s linear;
    }
  }
}
