@import "../../assets/styles/variables";
@use "sass:map";

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  width: 100%;
  padding: 0 0.938rem;
  height: 5.625rem;
  z-index: 1;
  background-color: var(--dark-bg);
  border-bottom: 0.063rem solid var(--dark-border);

  @media (min-width: map.get($grid-breakpoints, lg)) {
    gap: 2.5rem;
  }

  &__brand {
    flex: 1 0 auto;
    font-size: 1.25rem;
    font-family: "Poppins", arial, sans-serif;
    color: var(--header-text);

    @media (min-width: map.get($grid-breakpoints, lg)) {
      font-size: 1.5rem;
    }
  }

  &__nav {
    position: fixed;
    top: 0;
    left: -16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15.625rem;
    padding: 0 0.938rem;
    height: 100vh;
    background-color: var(--dark-bg);
    border: 0.125rem solid var(--dark-border);
    transition: transform 0.3s linear;

    @media (min-width: map.get($grid-breakpoints, lg)) {
      position: relative;
      left: auto;
      width: 100%;
      height: fit-content;
      border: none;
      flex-direction: row;
      gap: 2.5rem;
      justify-content: end;
      padding: 0;
    }

    &.active {
      transform: translateX(100%);
      transition: transform 0.3s linear;
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 3.125rem;
      list-style-type: none;
      padding-top: 5.625rem;
      padding-bottom: 3.75rem;
    }
  }
}
