@use "sass:map";
@import "../../assets/styles/variables";

.section {
  padding: 2.5rem 0;

  @media (min-width: map.get($grid-breakpoints, lg)) {
    padding: 4.375rem 0;
  }

  &__title {
    margin-bottom: 1.875rem;
    text-align: center;
    color: var(--accent);

    @media (min-width: map.get($grid-breakpoints, lg)) {
      margin-bottom: 3.75rem;
    }
  }
}
