@use "sass:map";
@import "../../assets/styles/variables";

.skill-list {
  margin: 0 auto;
  max-width: 38rem;
  display: flex;
  align-items: center;
  gap: $grid-gutter-width;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}
