@use "sass:map";
@use "sass:math";
@import "../../assets/styles/variables";

.experience {
  &-list {
    &__wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: $grid-gutter-width * 2;
    }

    &__item {
      position: relative;
      display: flex;
      gap: $grid-gutter-width;
      flex-direction: column;
      width: 100%;
      padding-bottom: map.get($spacers, 4);

      @media (min-width: map.get($grid-breakpoints, md)) {
        flex-direction: row;
      }
    }
  }

  &__dates {
    min-width: 7.875rem;
    font-weight: map.get($font-weight, "bold");
  }

  &__employment {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    column-gap: $grid-gutter-width;
    row-gap: 0;
  }

  &__aside-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  &__main-content {
    display: flex;
    flex-direction: column;
    gap: math.div($grid-gutter-width, 2);
  }

  &__employment-type,
  &__location-type {
    color: var(--light-grey);
  }

  &__company-name {
    line-height: 1;
  }

  &__link {
    width: 100%;
  }

  &__position {
    display: flex;
    align-items: baseline;
    gap: math.div($grid-gutter-width, 2);
  }

  &__description {
    &-item {
      list-style-type: disc;
      list-style-position: inside;

      &::marker {
        color: var(--accent);
      }
    }
  }
}
