@use "sass:map";
@import "../../assets/styles/variables";

.hero-header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 43.438rem;
  background-color: var(--dark-bg);
  background-image: url("../../assets/images/headerBg.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  color: var(--header-text);
  text-align: center;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $grid-gutter-width;
  }

  &__title {
    display: flex;
    flex-wrap: wrap;
    color: var(--header-text);

    &_typing {
      width: 18ch;
      margin: auto;
      overflow: hidden;
      font-size: map.get($font-sizes, 5);
      font-family: monospace;
      white-space: nowrap;
      border-right: map.get($border-widths, 3) $border-style orange;
      animation:
        typing-text 5s steps(18),
        flashing-border 0.75s step-start infinite;

      @media (min-width: map.get($grid-breakpoints, lg)) {
        font-size: map.get($font-sizes, 3);
      }
    }
  }
}

@keyframes flashing-border {
  0% {
    border-color: orange;
  }

  50% {
    border-color: transparent;
  }

  100% {
    border-color: orange;
  }
}

@keyframes typing-text {
  from {
    width: 0;
  }
}
