@import "../../assets/styles/variables";
@use "sass:map";

.hero-header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 43.438rem;
  padding: 2.5rem 0;
  background-color: var(--dark-bg);
  background-image: url("../../assets/images/headerBg.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  color: var(--header-text);
  text-align: center;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 18rem;
    padding: 0 0.938rem;

    @media (min-width: map.get($grid-breakpoints, lg)) {
      max-width: 42.5rem;
    }
  }

  &__title {
    margin-bottom: 1.25rem;
    color: var(--header-text);
    font-size: 2.5rem;
    font-weight: map.get($font-weight, "bold");
    line-height: 1.4;

    @media (min-width: map.get($grid-breakpoints, lg)) {
      font-size: 3.75rem;
    }
  }
}
