@use "sass:map";
@import "reset";
@import "fonts";
@import "../../assets/styles/variables";

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $font-stack;
  font-weight: map.get($font-weight, "normal");
  background-color: var(--page-bg);
  color: var(--text-color);

  &_theme {
    &_dark {
      --page-bg: #252526;
      --text-color: var(--white);
      --title-accent: var(--white);
      --project-card-bg: var(--dark-grey);
      --project-card-text: var(--white);
      --box-shadow: 0 0 $border-width rgba(0, 0, 0, 0.8);
      --light-grey: var(--white);
    }
  }
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: $grid-gutter-width;
  max-width: map.get($container-max-widths, xxl);
  margin: 0 auto;
  padding: 0 $container-padding-x;
}

.content {
  flex: 1 0 auto;
  padding-top: $navbar-height;
}

.section {
  padding: map.get($spacers, 4) 0;

  @media (min-width: map.get($grid-breakpoints, lg)) {
    padding: 4.375rem 0;
  }

  &__title {
    text-align: center;
  }
}

.link {
  color: var(--accent);
  transition: $transition-fade;

  &:hover {
    opacity: map.get($opacities, 75);
  }

  &_theme {
    &_light {
      color: var(--light-text);

      &-active {
        color: var(--accent);
      }
    }
  }
}

.title {
  font-weight: map.get($font-weight, "bold");
  margin-bottom: $headings-margin-bottom;

  &_size {
    &_xxl {
      font-size: map.get($font-sizes, 1);

      &.title_accent {
        color: var(--title-accent);
      }
    }

    &_xl {
      font-size: map.get($font-sizes, 2);

      &.title_accent {
        color: var(--title-accent);
      }
    }

    &_lg {
      font-size: map.get($font-sizes, 3);

      &.title_accent {
        color: var(--title-accent);
      }
    }

    &_md {
      font-size: map.get($font-sizes, 4);

      &.title_accent {
        color: var(--title-accent);
      }
    }

    &_sm {
      font-size: map.get($font-sizes, 5);

      &.title_accent {
        color: var(--title-accent);
      }
    }
  }

  &_accent {
    color: var(--accent);
  }

  &_mb_none {
    margin-bottom: 0;
  }
}

.text {
  &_centered {
    text-align: center;
  }

  &_accent {
    color: var(--title-accent);
  }
}

.image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.icon {
  width: 100%;
  aspect-ratio: 1 / 1;
}
