@use "sass:map";
@import "../../styles/variables";

.header {
  padding: 1.25rem 0;
  min-height: 5.625rem;
  background-color: var(--dark-bg);
  color: var(--header-text);
  border-bottom: 0.063rem solid var(--dark-border);
}
