@use "sass:map";
@import "../../assets/styles/variables";

.nav {
  &__item {
    font-size: map.get($font-sizes, 5);
    width: 100%;
    line-height: 2.35;
    text-align: center;
    font-weight: map.get($font-weight, "bold");

    @media (min-width: map.get($grid-breakpoints, md)) {
      border-bottom: none;
      width: fit-content;
    }

    @media (min-width: map.get($grid-breakpoints, xl)) {
      width: 10rem;
    }
  }

  &__link {
    color: var(--header-text);

    &:hover {
      color: var(--accent);
    }
  }
}
