@use "sass:map";
@import "../../assets/styles/variables";

.nav {
  &__item {
    font-size: 1.25rem;
    width: 100%;
    line-height: 2.35;
    text-align: center;
    font-weight: map.get($font-weight, "bold");
    transition: background-position-x 0.9s linear;

    @media (min-width: map.get($grid-breakpoints, md)) {
      border-bottom: none;
      width: fit-content;
    }

    @media (min-width: map.get($grid-breakpoints, xl)) {
      width: 10rem;
    }

    &:hover {
      background-image: url("../../assets/images/icons/line.svg");
      animation: line 1s;
    }
  }

  &__link {
    font-size: 1.375rem;
    color: var(--header-text);
    transition: all 0.45s;

    &:hover {
      color: var(--accent);
    }
  }
}

@keyframes line {
  0% {
    background-position-x: 24.375rem;
  }
}
